li {
  list-style: none;
}

.cross-and-task {
  padding-left: 20px;
  margin: 5px;
  display: flex;
}

.task-name {
  padding-left: 20px;
  cursor: pointer;
}

.clicked {
  text-decoration: line-through;
}
